body{
    background-image: url(https://th.bing.com/th/id/OIP.Ncl2sdrhJv6faySdq-kWRAHaEK?w=281&h=180&c=7&r=0&o=5&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;

}
/* Dropdown Button */
.dropbtn5 {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  /* Buttons */
button {
	cursor: pointer;
	margin-right: 8px;
	border:none;
	border-radius: 4px;
	padding:10px;
	background-color: #3066BE;
	color:#FFF;
	transition: all 0.5s;
}
button:last-child {margin-right: 0;}
button:hover {background-color: #60AFFF;}
button:focus {outline: none;}

/* Mods */
.disabled {
	background-color: #DCCFCF;
	color:#B0A8A8;
	cursor: default;
	pointer-events:none;
}

.d-none {display: none;}
.active {opacity: 1;}
.centered {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	}
  
  /* Dropdown button on hover & focus */
  .dropbtn5:hover, .dropbtn:focus {
	background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

}


  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  .the-band{
    width: 1200px;
    height: 672px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.history h2{
    letter-spacing: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
}
.history.love{
    font-size: 15px;
    text-align:center;
    color: rgb(114, 114, 114);
    font-family: "Segoe UI",Arial,sans-serif;
}
.history.para{
    text-align: justify;
    line-height: 1.5;
    font-family: "Segoe UI",Arial,sans-serif;
    width: 94%;
    margin-left:3%;
}
#line{
    margin-top: -10px;
    background-color: lightblue;
    color: lightblue;
    height: 4px;
	width: 1360px;
}
* {
    padding: 0;
    margin: 0;
}

.container {
    color: white;
    background: linear-gradient(145deg, #2193b0, #6dd5ed);
    width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.search-bar {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.search-icon {
    margin-right: 5px;
    position: absolute;
    left: 0;
}

#search-input {
    border: 0;
    outline: 0;
    padding: 3px 3px 3px 20px;
    background: transparent;
    height: 20px;
    color: white;
}

#search-input::placeholder {
    color: rgb(206,206,206);
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 80px 50px;
}

.city-name {
    font-size: 20px;
    margin-bottom: 3px;
}

.weather-state {
    font-size: 13px;
}

.weather-icon {
    width: 70px;
    height: 70px;
}

.temperature {
    font-size: 80px;
    font-weight: lighter;
    line-height: 1;
    position: relative;
}

.temperature::after {
    content: 'o';
    position: absolute;
    font-size: 30px;
}

.additional-section {
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 13px;
}

.additional-section .row {
    margin-bottom: 5px;
    display: flex;
}

.additional-section .item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.additional-section .item .label {
    font-weight: bold;
}
